/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


/* LAYOUT & COLORS*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    --color-one: #d63131;
    --color-two: rgb(5, 0, 10);
    --color-three : rgb(236, 238, 245);
}

html {
  margin-left: auto; margin-right: auto;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Oxygen', sans-serif;
  background-image: linear-gradient(to bottom right, #a0a0a0, #d9d6f8);
}


/* MOBILES */
@media screen and (max-width: 768px) {
  body {
    width: auto;
    height: auto;
  }
}

/* TABLETS */
@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    max-width: auto;
    height: auto;
    margin: 0;
  }
}
